.section-principal-index{
    display: grid;
    width: 75%;
    height: 31.25rem;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    margin: auto;
    div{
        grid-column: 3 /5;
        grid-row: 3/6;
        order: 2;
        p,h1{
            background-color: rgba(211, 211, 211, 0.502);
        }
        button{
            all: unset;
            padding: 5px 15px;
            margin-top: 1.25rem;
            
            background-color: lightcyan;
            border-radius: 5px;
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.523);
        }
    }
    img{
        width: 100%;
        grid-column: 3/ 7;
        grid-row: 2/ 6;
        order: 1;
    }
}